<!DOCTYPE html>
<html lang="en" class="dark:bg-gray-900">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, height=device-height,  initial-scale=1.0, user-scalable=no, user-scalable=0"/>
    <title>Movie API | VueJS</title>
    <meta name="description" content="The Movie API is a VueJS based SPA that delivery movies and series content.">
    <meta name="subject" content="The Movie API | Powered by Ldvloper">
    <meta name="keywords" content="Movie, API, SPA, VueJS, Series, Blockbuster, Cinema"/>
    <meta name="author" content="Luigelo Davila">

    <!-- ==============================================
    Favicons

    <link rel="shortcut icon" href="<%= BASE_URL %>favicon.ico">
    <link rel="apple-touch-icon" href="<%= BASE_URL %>apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="<%= BASE_URL %>apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="<%= BASE_URL %>apple-touch-icon-114x114.png">
    <link rel="icon" type="images/png" sizes="32x32" href="<%= BASE_URL %>favicon-32x32.png">
    <link rel="icon" type="images/png" sizes="16x16" href="<%= BASE_URL %>favicon-16x16.png">
    =============================================== -->
    <!-- ==============================================
    Social

    <meta property='og:title' content='LDV | Luigelo Davila'/>
    <meta property='og:images' content="<%= BASE_URL %>social-preview.png"/>
    <meta property='og:description' content='Luigelo Davila | Website'/>
    <meta property='og:url' content='https//luigelo.ldvloper.com'/>
   =============================================== -->
  </head>
  <body>
    <div id="app" class="selection:bg-emerald-600"></div>
    <script type="module" src="/src/main.js"></script>
  </body>
</html>
